#logbox {
    padding: 10px;
    margin-left:  80px auto;
    margin-right: 80px auto;
    margin-bottom: 80px auto;
    width: 80%;
    height: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.blog-post-text-input {
    width: 75%;
    height: 300px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    resize: none;
}