<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>V ITMO</title>

    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>

    <!--
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
    <link href="../static/css/main.css" rel="stylesheet"></link>
    <link href="../static/css/form.css" rel="stylesheet"></link>
    <link href="../static/css/profile.css" rel="stylesheet"></link>
    <link href="../static/css/post.css" rel="stylesheet"></link>
    -->

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">V ITMO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <input class="btn-link logout-button" type="submit" value="Sign Out"/>
                        </form>
                    </a>
                    <a sec:authorize="isAnonymous()">
                        <form th:action="@{/}" method="get">
                            <input class="btn-link logout-button" type="submit" value="Sign up"/>
                        </form>
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="row main">
        <div class="col-lg-6 description">
            <h1>OLEG AND YANA SUPER PROGER'S SITE</h1>
            <p class="lead">With Love<br/> From Heart.</p>
        </div>

        <div class="col-lg-6">
            <div id="logbox">
                <form id="signup" th:action="@{/signup}" method="post">
                    <h2 class="text-center">Create an account</h2>
                    <input name="username"          type="text"     placeholder="What's your username?" pattern="^(\w|[0-9]){4,20}$"    required="required" class="input pass" autofocus="autofocus"/>
                    <input name="password"          type="password" placeholder="Choose a password"     pattern="^.{6,20}$"             required="required" class="input pass"/>
                    <input name="password_confirm"  type="password" placeholder="Confirm password"      pattern="^.{6,20}$"             required="required" class="input pass"/>
                    <input type="submit" value="Sign me up!" class="inputButton"/>
                    <div class="text-center">
                        Already have an account? <a href="login" id="login_id">Log in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:href="@{/js/bootstrap.js}"></script>
</body>
</html>