<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>

    <title>User profile</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/main.css}" rel="stylesheet"></link>
    <link th:href="@{/css/signup.css}" rel="stylesheet"></link>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">V ITMO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>

                <div sec:authorize="isAuthenticated()">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-info" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row main">
        <h1>My Profile</h1>
        <p th:text="'User name: ' + ${user.username}"></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
</body>
</html>